body{
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}
.body2{
	width: 1350px;
	margin: 0;
	padding: 0;
}

/*	CONTENT */



.switch{
	width: 1100px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: top;
	flex-wrap: wrap;
	border-radius: 15px;
	height: auto;
}

.switch > input{
	display: none;
}
.switch > label{
	/*margin-right: 20px;*/
	margin: 10px 5px 0px 5px;
	border-radius: 15px 15px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 300px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
}

.switch ._3D:hover,
.switch .Web:hover,
.switch .Other:hover{
	background-color: rgba(0,0,0,0.75);
}

/*content*/

/* 	labels*/
#_3D:checked ~ ._3D,
#Web:checked ~ .Web,
#Other:checked ~ .Other{
	background-color: rgba(0,0,0,0.5);

	/*color:#3e4a53;*/
}

/*MY CURRENT*/
.section{
	background-color: rgba(0,0,0,0.5);
	height: auto;
	width: 920px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.section > h1{
	font-size: 45px;
	margin-top:20px;
}

.cont-main{
	height: 400px;
	width: 880px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.curr-model{
	margin: 30px;
}
.curr-describtion{
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 350px;
	height: 88%;
}

.button{
	border-radius: 15px;
	background-color: rgba(0,0,0,0.5);
	width: 200px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: rgb(205,217,230);
	align-self: center;
	margin-bottom: 20px;
	cursor: pointer;
	border: 2px dotted rgba(205,217,230,0.5);
}


/* MY ALL */
.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	width: 880px;
	height: 680px;
	overflow: hidden;
}
.elem{
	width: 45%;
}
.elem > a{
	display: flex;
	height: 300px;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	color: inherit;
}
label ~ .button{
	font-size: 20px;
}
.all-img{
	height: 70%;
	width: 100%;
	background-color: white;
}
.card-bottom{
	display: flex;
	justify-content: space-between;
}

#hide_button{
	display: none;
}
