.comments form {
    display: flex;
    align-self: center;
    /*align-items: center;*/
    flex-direction: column;
}

.comments {
    padding: 2%;
}

.comments h2 {
    align-self: start;
    margin-bottom: 2%;
}

.comments textarea {
    width: 80%;
    height: 70px;
    border-radius: 15px;
    padding: 3%;
    font-family: inherit;
    margin-bottom: 0%;
}

.comments input {
    /*width: 10%;*/
    align-self: end;
    font-family: inherit;
    padding: 1%;
    border-radius: 0;
    border: none;
}

.comments input:hover{
    cursor: pointer;
}