body{
	background-color: #171c20;
    color: #cdd9e6;
}
.body2{
	font-family: 'Montserrat', sans-serif;
}


.header {
  background-image: url('../img/bg.png');
}

.profile{
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position:center bottom;
}
.profile-card{
  	background-color: rgba(0,0,0,0.5);
}
.nav{
    background-color: rgba(0,0,0,0.5);
}
.item{
border: 2px dotted rgba(205,217,230,0) ;
}
.item:hover{
  background-color: rgba(0,0,0,0.5);
	border: 2px dotted rgba(205,217,230,0.5);
}
.item:focus{
  background-color:  rgba(62,74,83,0.8);
  border: 2px dotted rgba(205,217,230,0.5);
}
.profile-img{
  	border: 4px dashed rgba(205,217,230,1);
}

.switch{
  	background: rgba(62,74,83,0.8);
}
.switch ._3D:hover,
.switch .Web:hover,
.switch .Other:hover{
	background-color: rgba(0,0,0,0.75);
}

#_3D:checked ~ ._3D,
#Web:checked ~ .Web,
#Other:checked ~ .Other{
	background-color: rgba(0,0,0,0.5);
}

.content{
	border-top: 4px dashed rgba(205,217,230,1);
}
.button{
  	border: 2px dotted rgba(205,217,230,0.5);
  	color: rgb(205,217,230);
  	background-color: rgba(0,0,0,0.5);
  	border: 2px dotted rgba(205,217,230,0.5);
}
.section{
	background-color: rgba(0,0,0,0.5);
}
.button:hover{
	background-color: rgba(62,74,83,0.8);
	border: 2px dotted rgba(205,217,230,0.5);
}
.button:active{
	background-color: #BF4541;
}

.theme_switch{
  background-color: rgb(205,217,230);
}
.theme_switch:hover{
  background-color: rgba(205,217,230, 0.6)
}