footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.email a {
    color: inherit;
}

footer .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 20%;
    padding-inline-start: 0;
}
